nav {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #ebebeb;
  height: 50px;
  width: 100%;
  z-index: 900;
  display: flex;
}
nav img {
  height: 100%;
  padding: 10px;
  margin-right: 2%;
}
nav ul {
  display: flex;
  list-style: none;
  height: 100%;
  gap: 5%;
}
nav ul li {
  margin-top: 17.5px;
  color: #5c5c5c;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
}
nav ul li a {
  color: #5c5c5c;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
}
nav ul li a:hover {
  color: #000;
}
nav ul li ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  list-style: none;
  overflow: hidden;
  margin-top: 15px;
  padding: 0px 5px;
  height: 0px;
  transition: height 0.2s;
  background-color: #ebebeb;
  border-radius: 0px 0px 5px 5px;
}
nav ul li ul li {
  margin: 1px 0px;
}
nav ul li ul li a {
  color: #5c5c5c;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
}
nav ul li ul li a:hover {
  color: #000;
}
nav ul li:hover {
  color: #000;
}
nav ul li:hover ul {
  height: 100px;
}
nav ul .input_li {
  display: flex;
  align-items: center;
  margin-top: 2px;
  height: 100%;
  cursor: initial;
}
nav ul .input_li label {
  width: 30px;
  height: 30px;
  border-radius: 5px 0px 0px 5px;
  background-color: #c0c0c0;
  cursor: text;
  padding: 2px;
}
nav ul .input_li label svg {
  width: 100%;
  height: 100%;
}
nav ul .input_li input {
  height: 30px;
  min-width: 250px;
  background-color: #c0c0c0;
  border: none;
  outline: none;
  padding-left: 5px;
  color: #000;
  font-family: sans-serif;
  font-size: 15px;
  border-radius: 0px 5px 5px 0px;
}
nav ul .input_li input::-moz-placeholder {
  color: #555555;
}
nav ul .input_li input::placeholder {
  color: #555555;
}

@media only screen and (max-width: 900px) {
  main {
    padding: 100px 10px 10px 10px;
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
  }
  main h2 {
    width: 100%;
    padding: 20px 5%;
    font-size: 2rem;
    font-family: sans-serif;
    color: #000;
  }
  main .info_movie {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  main .info_movie aside {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  main .info_movie aside img {
    width: 50%;
    aspect-ratio: 5/8;
    background-color: #000;
  }
  main .info_movie div {
    margin: 100px 0px;
    display: flex;
    flex-direction: column;
    margin: 50px 50px;
  }
  main .info_movie div ul {
    margin-top: 50px;
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  main .info_movie div ul li {
    width: 50%;
    text-align: center;
    font-family: sans-serif;
    font-size: 1rem;
    color: #000;
    margin: 10px 0px;
  }
}
@media only screen and (min-width: 901px) {
  main {
    width: 100%;
    min-height: calc(100vh - 100px);
    padding-top: 100px;
  }
  main h2 {
    width: 100%;
    padding: 20px 5%;
    font-size: 2rem;
    font-family: sans-serif;
    color: #000;
  }
  main .info_movie {
    width: 100%;
    padding: 10px 15%;
    display: flex;
    align-items: stretch;
    gap: 20px;
  }
  main .info_movie aside {
    width: 25%;
  }
  main .info_movie aside img {
    width: 100%;
    aspect-ratio: 5/8;
    border-radius: 5px;
    background-color: #000;
  }
  main .info_movie div {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  main .info_movie div p {
    font-size: 1rem;
    font-family: sans-serif;
    text-align: justify;
    padding: 5px;
  }
  main .info_movie div ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  main .info_movie div ul li {
    width: 50%;
    text-align: center;
    font-family: sans-serif;
    font-size: 1rem;
    color: #000;
    margin: 10px 0px;
  }
}
footer {
  width: 100%;
  height: 200px;
  background-color: #6973a3;
}/*# sourceMappingURL=movieInfo.css.map */