@mixin textNav(){
    color: #5c5c5c;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
}
html{
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: #aaaaaa #fff;
}
body{
    background-color: #dfdfdf;
}
nav{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #ebebeb;
    height: 50px;
    width: 100%;
    z-index: 900;
    display: flex;
    img{
        height: 100%;
        padding: 10px;
        margin-right: 2%;
    }
    ul{
        display: flex;
        list-style: none;
        height: 100%;
        gap: 5%;
        li{
            margin-top: calc(25px - (15px/2));
            @include textNav();
            cursor: pointer;
            a{
                @include textNav();
                text-decoration: none;
            }
            a:hover{
                color: #000;
            }
            ul{
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                list-style: none;
                overflow: hidden;
                margin-top: 15px;
                padding: 0px 5px;
                height: 0px;
                transition: height 0.2s;
                background-color: #ebebeb;
                border-radius: 0px 0px 5px 5px;
                li{
                    margin: 1px 0px;
                    a{
                        @include textNav();
                    }
                    a:hover{
                        color: #000;
                    }
                }
            }
        }
        li:hover{
            color: #000;
            ul{
                height: 100px;
            }
        }
        .input_li{
            display: flex;
            align-items: center;
            margin-top: 2px;
            height: 100%;
            cursor: initial;
            label{
                width: 30px;
                height: 30px;
                border-radius: 5px 0px 0px 5px;
                background-color: #c0c0c0;
                cursor: text;
                padding: 2px;
                svg{
                    width: 100%;
                    height: 100%;
                }
            }
            input{
                height: 30px;
                min-width: 250px;
                background-color: #c0c0c0;
                border: none;
                outline: none;
                padding-left: 5px;
                color: #000;
                font-family: sans-serif;
                font-size: 15px;
                border-radius: 0px 5px 5px 0px;
            }
            input::placeholder{
                color: #555555;
            }
        }
    }


}
header{
    font-family: "Caveat", cursive;
    font-size: 5vw;
    font-weight: bold;
    margin-top: 40px;
    width: 100%;
    height: 300px;
    background-color: #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
main{
    width: 100%;
    min-height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    div{
        width: 150px;
        height: 220px;
        background-color: #555555;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        margin: 40px 2%;
        cursor: pointer;
        img{
            width: 100%;
            height: 100%;
            transition: transform 0.2s;
        }
        span{
            position: absolute;
            width: 100%;
            text-align: start;
            display: flex;
            flex-wrap: wrap;
            padding: 2px;
            font-size: 0.8rem;
            font-family: sans-serif;
            font-weight: bold;
            color: #fff;
            filter: drop-shadow(0px 0px 3px #000);
            z-index: 5;
        }
    }
    div:hover{
        box-shadow: 0px 0px 5px #000;
        img{
            transform: scale(1.1);
        }
    }
}
footer{
    background-color: #596186;
    width: 100%;
    height: 100px;
}
